body{
  background-image: url(../img/main-bg-orange.jpg);/*defolt background*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/*------------------------*/
.menu-active {
  background-color: #d68000;
}
.about-title {
  color: #d68000;
}
.btn-link:hover {
  color: #d68000;
}
.resume-date {
  color: #d68000;
}
#form-submit {
  background-color: #d68000;
}
.list-unstyled {
  color: #d68000;
}

/*----------------------*/
.circle {
  border-top-color: #ffa21d;
}
.circle:before {
  border-top-color: #ffa21d;
}
.circle:after {
  border-top-color: #ffa21d;
}
.social-link a {
  color: #ffa21d;
}
.download-resume i {
  color: #ffa21d;
}
.download-resume a:hover {
  color: #ffa21d;
  border-bottom: 1px solid #ffa21d;
}
.skillbar-bar {
  background: #ffa21d;
}
#accordion i {
  color: #ffa21d;
}
.card-header {
  border-bottom: 1px solid #ffa21d;
}
.nav-tabs .nav-link i {
  color: #ffa21d;
}
.icon-contact i {
  color: #ffa21d;
}
.icon-link:hover i {
  color: #ffa21d;
}
#form-submit:hover {
  background-color: #ffa21d;
}
.form-control:focus {
  border-color: #ffa21d;
}
/*-------------------------------*/
.page-title i {
  color: #f9c889;
}
.sub-title i {
  color: #f9c889;
}
.skillbar {
  border: 1px solid #f9c889;
}
.resume-inner:after {
  background-color: #f9c889;
}
.resume-date {
  border: 1px solid #f9c889;
}
span.resume-date:after {
  background: #f9c889;
}
.resume-row:after {
  background: #f9c889;
}
/*-------------------------------*/
.page-title h2 {
  border-bottom: 1px solid #ffe6c3;
}
.sub-title h3 {
  border-bottom: 1px solid #ffe6c3;
}
.card {
  border-color: #ffe6c3;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #ffe6c3 #ffe6c3 #fff;
}
.nav-tabs {
  border-bottom: 1px solid #ffe6c3;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #ffe6c3 #ffe6c3 #fff;
}